@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

html {
    min-height: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

/***** Globales ****/
.contenedor {
    margin-top: -56.6rem;
    margin-left: 25rem;
    height: 40.4em;
    width: 81.7%;
    max-height: 40.4rem;
    padding: 0 4rem;
}
.cont{
    display: flex;
}

.j-c-center {
    justify-content: center;
}

.j-c-space-around {
    justify-content: space-around;
}

.j-c-space-evenly {
    justify-content: space-evenly;
}

.j-c-flex-end {
    justify-content: flex-end;
}

.a-i-center {
    align-items: center;
}

/* Inicio de sesión */
.imagen-padre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-login {
    margin-top: -4rem;
    width: 8rem;
    height: 8rem;
    padding: 0;
    border-radius: 2rem;
}

.login-label {
    font-style: italic;
    font-size: 1.8rem;
    font-weight: 300;
}

.padre {
    height: 60rem;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    padding: 1rem 3rem 0 3rem;
}

.card-body {
    width: 40rem;
    height: 32rem;
    border-radius: .8rem;
    background-color: white;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
}

#btn {
    color: white;
    font-size: 2rem;
    width: 60%;
    border-radius: .5rem;
}

.botones {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones.cancelar {
    padding: 0;
}


/* Blog  */
.menu {
    margin: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #fc942c;
}

.descripcion {
    text-align: justify;
}

.menu-items {
    display: flex;
}

.menu-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    height: 5rem;
    width: 10rem;
    padding: 1.5rem 0;
    text-align: center;
}

.menu-link:hover,
.menu-link:active {
    text-decoration: none;
    background-color: #fcb32c;
    color: white;
}

.menu-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-link-login {
    width: 12rem;
    height: 4rem;
    padding: 1rem 0 1rem 0;
    font-size: 1.5rem;
}

.menu-link-logout {
    width: 5rem;
    height: 4rem;
    padding: 1rem;
    margin-left: 1rem;
}


.contenido {
    padding: 5rem 15rem 0 15rem;

}

/* Footer */
footer {
    background-color: #fc942c;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer label {
    margin: 0;
    font-size: .8rem;
}

/* Registar Blog */
.secciones {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    background: #808080b5;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.secciones h4 {
    margin: 0;
    color: white;
}

.botones-registrar-blog {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
}

.botones-registrar-blog button {
    height: 4rem;
    width: 15rem;
}

/* Registrar Usuario */
.card-body-usuario {
    margin-top: 8rem;
    z-index: 1;
    width: 40rem;
    height: 56rem;
    border-radius: .8rem;
    background-color: white;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
}

.alerta {
    z-index: 2;

}

/* Login */
.notificacion {
    text-align: center;
    z-index: 10;
    width: 30rem;
    height: 5rem;
    background-color: rgba(255, 0, 0, 0.637);
}

/* Alert tamaño fixed */
.swal2-popup {
    font-size: 1.5rem !important;
}


/* Botones */
.mybtn {
    background-color: #1468ff;
    border-color: #1468ff;
    color: white;
}

.mybtn:hover {
    background-color: #1466ffc4;
    border-color: #1466ffc4;
    color: white;
}

.mybtn:active {
    background-color: #1466ffc4;
    border-color: #1466ffc4;
    color: white;
}

.mybtn:focus {
    background-color: #1466ffc4;
    border-color: #1466ffc4;
    color: white;
}

/** Tabla **/
table.dataTable thead th,
table.dataTable thead td {
    border-bottom: none;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
    border-top: none;
}

.acciones-botones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    width: 10rem;
}

/******** Menu2 *******/
.barra {
    margin: 0;
    width: 100%;
    height: 6.5rem;
    padding: 0;
    background-color: #fc942c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-alt {
    background-color: #0a2b60;
    height: 40.4em;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 1rem 0 0 0;
    justify-content: space-between;
}

.imagen {
    width: 6.5rem;
}

.item {
    color: white;
    text-decoration: none;
    background-color: #143c7b;
    height: 3rem;
    width: 18rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}
.item:hover{
    background-color: #143b7bb9;
    color: white;
    text-decoration: none;
}
.item:active{
    background-color: #143b7bb9;
    color: white;
    text-decoration: none;
}


.item:first-child {
    margin-top: 1rem;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #143c7b;
    color: white;
    height: 3rem;
    width: 14rem;
    padding: 0 .2rem;
    border-radius: .4rem;
    margin-right: 1rem;
    text-decoration: none;
}

.login:hover{
    background-color: #143b7bb9;
    color: white;
    text-decoration: none;
}
.login:active{
    background-color: #143b7bb9;
    color: white;
    text-decoration: none;
}
.login-a{
    background-color: #143c7b;
    color: white;
    text-decoration: none;
    border: none;
}
.login-a:active{
    background-color: #143b7bb9;
    color: white;
    text-decoration: none;
    border: none;
}
.login-a:hover{
    background-color: #143b7bb9;
    color: white;
    text-decoration: none;
    border: none;
}
.login label {
    margin: 0;
}

.texto-boton {
    padding-left: 1rem;
}

.titulo {
    display: flex;
    align-items: center;
}

.titulo h1 {
    color: white;
    margin: 0;
    font-size: 3rem;
}

.cerrar {
    color: white;
    background-color: #ff0000cf;
    height: 3rem;
    width: 12rem;
    padding: 0 .2rem;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8rem;
    text-decoration: none;
}
.cerrar:hover{
    color: white;
    background-color: #ff00005b;
    text-decoration: none;
}
.cerrar:active{
    color: white;
    background-color: #ff00005b;
    text-decoration: none;
}
