{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="shortcut icon" href="{{url_for('static',filename='logo.png')}}" type="image/x-icon">
<link rel="icon" href="{{url_for('static',filename='logo.png')}}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.13.3/sweetalert2.css">
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}
{% block scripts %}

{% endblock %}

{% block title %}{% endblock %}


{% block body %}
{% endblock %}