{% extends 'base.html'%}

{% block title %}
Blog
{% endblock %}

{% block body %}
{% include 'menu.html' %}
<div class="contenedor">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% if messages[0] == "Post Registrado" %}
    <script>
        alert_success('{{ messages[0] }}')
    </script>
    {% else %}
    <script>
        alert_warning('{{ messages[0] }}')
    </script>
    {% endif %}
    {% endif %}
    {% endwith %}
    <div class="contenido">
        {% if current_user.is_authenticated %}
        <div class="cont j-c-flex-end a-i-center">
            <div class="form-group">
                <a class="btn mybtn btn-md crear" href="{{url_for("post_registrar")}}">Crear Post</a>
            </div>
        </div>
        {% else %}

        {% endif %}

        {% for result in variable %}
        <h1>{{ result[4] }}</h1>
        <h4>Autor: <a href="/profile/{{ result[1] }}">{{ result[3] }}</a> </h4>
        <p class="descripcion">{{ result[5] }}</p>
        {% endfor %}
    </div>

</div>

{% block footer %}
{% include 'footer.html' %}
{% endblock %}

{% endblock %}